html{
    font-size: 20px;
    text-align: center;
}
body{
    font-family: "Arial", "Meiryo", sans-serif;
}
/* h1タグのGoogleフォント設定 */
.title{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 2rem;
    letter-spacing: .24em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
 }
.title{
    border-bottom: 3px solid rgb(115, 115, 114);
}
.skyblue{
    color: skyblue;
}
.pink{
    color: rgb(255, 192, 203);
}
/* divタグ内の設定 */
#basic p:nth-child(2),
#basic p:nth-child(4),
#basic p:nth-child(6) {
  font-weight: bold; /* 特定のp要素のみ太字にする */
}